---
interface Props{
    proyecto: string
    descripcion:string
    enlace:any
    imagen:string
    date: string

}

const {proyecto,descripcion ,enlace, imagen, date} = Astro.props



---

<div>
  
    <div class=" mx-auto  md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20 sm:m-4 h-full">
    <div class="grid gap-8 h-full">
      <div class="overflow-hidden transition-shadow duration-300 bg-white rounded shadow-sm h-full">
        <img src={imagen} class="object-cover w-full h-64" alt="" />
        <div class="p-5 border border-t-0">
          <p class="mb-3 text-xs font-semibold tracking-wide uppercase">
            <a 
                href={enlace} 
                class="transition-colors duration-200 text-blue-gray-900 hover:text-deep-purple-accent-700" 
                aria-label="Category"
                target="_blank" 
                rel="noopener noreferrer" 
                title="traveling">Proyects</a>
            <span 
                class="text-gray-600">— {date}
            </span>
          </p>
          <a 
            href={enlace} 
            aria-label="Category" 
            title="Visit the East" 
            target="_blank" 
            rel="noopener noreferrer" 
            class="inline-block mb-3 text-2xl font-bold leading-5 transition-colors duration-200 hover:text-deep-purple-accent-700">{proyecto}
        </a>
          <p 
            class="mb-2 text-gray-700">
            {descripcion}
          </p>
          <a 
            href={enlace} 
            aria-label="" 
            target="_blank" 
            rel="noopener noreferrer" 
            class="inline-flex items-center font-semibold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800">Learn more
        </a>
        </div>
      </div>
    </div>
  </div>

</div>



